<!DOCTYPE html>
<html>
<head>
  <title>Quizzy</title>
  <%= stylesheet_link_tag    "quizzy/application", :media => "all" %>
  <%= javascript_include_tag "quizzy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
